@font-face {
    font-family: "ZonaPro";
    src:url('/fonts/ZonaPro-Thin.otf')  format('otf');
}

.personalPageContainer {
  display:flex !important;
  flex-direction: column;
  justify-content:center !important;
  align-items: center !important;
  margin-left:150px !important;
  padding:40px !important;
  padding-top: 80px !important;
  padding-left:0px !important;
  letter-spacing: 0.2em !important;
}

.personalPageHeader{
  /* text-shadow: 6px 6px 0px rgba(0,0,0,0.2) !important; */
  font-family: ZonaPro !important;
  font-size: 16px !important;
}

.personalPageSubHeader,.personalPageBody,.personalPageMail{
  font-family: ZonaPro !important;
  font-size: 12px !important;
}

.personalPageWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center
}

.personalPageIcons {
    height:20px;
    width: 20px;
    cursor: pointer;
}

.image {
  height:auto !important;
  max-width:100% !important;
}

@media only screen and (max-width: 799px) {
  .personalPageContainer {
    margin-left:0px !important;
    padding:0px !important;
  }
  .personalPageMail {

  }
}
