.videoContainer {
  margin-left:330px !important;
  padding:40px !important;
  max-width: 100% !important;
}

.player {
  max-width:100% !important;
  max-height: 100% !important;
  /* pointer-events: none; */
}

@media only screen and (max-width: 799px) {
  .videoContainer {
    margin-left:0px !important;
    padding:0px !important;
  }
}
